*{margin: 0; padding: 0;} 

/* position value
static
relative
fixed
absolute
sticky

top
buttom
left
right
z-index    */

.classp{
	width:400px;
	height:400px;
	background-color:red;
	margin: 200px auto;
	position: relative;
	z-index: -1;
}
.class_c1{
	width:200px;
	height:200px;
	background-color:green;
	z-index: 6;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}


